@import "variables";
@import "mixins";




#header{
  background: #F6F6F6;
  padding: 10px;
  ul{
      a{
        @include menu-header;

        &:hover{
          background: #FFEB00;
        }
      }
    }
}


